<% layout('layouts/boilerplate') %>

<div class="row mb-3">
  <div class="col-6">
    <div class="card">
      <img src="<%= camp.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-secondary"><%= camp.location %></li>
        <li class="list-group-item">$<%= camp.price%>/night</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>/update"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= camp._id %>?_method=delete"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>Leave a review</h2>
    <form
      class="mb-3 needs-validation"
      action="/campgrounds/<%= camp._id %>/review"
      method="post"
      novalidate
    >
      <div>
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          min="1"
          max="5"
          id="rating"
        />
      </div>
      <div>
        <label class="form-label" for="text">Text</label>
        <textarea
          class="form-control"
          name="review[text]"
          id="text"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter review text.</div>
      </div>
      <div class="mt-2">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
    <div class="mb-3">
      <% for(let review of camp.reviews) { %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <p class="card-text">Review: <%= review.text %></p>
          <form
            action="/campgrounds/<%= camp._id %>/review/<%= review._id %>?_method=delete"
            method="post"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
